.ks__tailored {
    background:-moz-linear-gradient(90deg, #EBF5FF 0%, #FFFFFF 51%, #EBF5FF 100%); 

    background:-webkit-linear-gradient(90deg, #EBF5FF 0%, #FFFFFF 51%, #EBF5FF 100%);

    background:-o-linear-gradient(90deg, #EBF5FF 0%, #FFFFFF 51%, #EBF5FF 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBF5FF', endColorstr='#EBF5FF', GradientType=0 );

    background:-ms-linear-gradient(90deg, #EBF5FF 0%, #FFFFFF 51%, #EBF5FF 100%);

    background:linear-gradient(90deg, #EBF5FF 0%, #FFFFFF 51%, #EBF5FF 100%);

}

.ks__tailored-content {
    display: flex;
    flex-direction: column;
}

.ks__tailored-type {
    display: flex;
}

.ks__tailored-type .ks__tailored-types-container__type {
    margin: 0;
}

.ks__tailored-type .ks__tailored-types-container__type-text {
    max-width: 700px;
}

.ks__tailored-heading {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;

}

.ks__tailored-heading h1 {
    font-weight: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    max-width: 510px;
}

.ks__tailored-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
}



.ks__tailored-container .ks__types-container__type {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing type component as per needs */
.ks__tailored-container .ks__types-container_type-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .ks__tailored-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .ks__tailored-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing type component as per needs */
    .ks__tailored-type .ks__types-container__type {
        flex-direction: column;
    }

    /* Customizing type component as per needs */
    .ks__tailored-type .ks__types-container_type-text {
        margin-top: 0.5rem;
    }

    .ks__tailored-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing type component as per needs */
    .ks__tailored-container .ks__types-container__type {
        margin: 1rem 0;
        min-width: 100%;
    }
}