 /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap');
:root{
    /* --font-family: 'Montserrat', sans-serif; */
    --font-family: 'Inter', sans-serif;

    --gradient-text: linear-gradient(90deg, rgba(122,197,213,1) 6%, rgba(0,212,255,1) 100%);
    --gradient-bar: linear-gradient(90deg, rgba(122,197,213,1) 6%, rgba(0,212,255,1) 100%);

    --color-bg: #F4F5F7;
    --color-footer: #fff;
    --color-text:#5A6069;
    --color-subtext:#5A6069;
    --color-btn-border:#93e0f1;
    --color-btn-primary: #58D1ED;
    

}